
@{
    ViewData["Title"] = "Create";
}

<style>
    
    #supplierSection {
        border-radius: 15px;
        padding: 30px;
        padding-top: 40px;
    }

        #supplierSection input {
            outline: 0;
            border-width: 0 0 1px;
            border-color: #000;
            background-color: transparent;
            justify-content: center;
        }

            #supplierSection input:focus {
                border-color: deepskyblue;
            }
</style>

<div class="row mt-3">

    <div class="card">
        <div class="card-header">
            <h6>Unit Creating Form</h6>
        </div>
        <div class="card-body">

            <div class="row">
                <div>
                    <div class="row">
                        <div class="col-md-6 mt-1 mb-2 shadow" id="supplierSection">
                            <input required style="font-size: 25px;" id="buyernameinbill" list="Suppliers" class="col-md-11 text-left" placeholder="Debtor's Name" autocomplete="off" />
                            <button id="removeSupplierName" class="btn-sm bg-transparent" style="border:none;">
                                <i class="fa fa-times" style="color:#0dad1a; font-size:16px;"></i>
                            </button>
                            <datalist class="col-md-8" id="Suppliers">

                                @foreach (var item in ViewBag.SupplierList)
                                {
                                    <option class="selectSuppliername" data-vat="@item.PanNumber" data-phone="@item.PhoneNumber" data-value="@item.SupplierID">@item.SupplierName.Trim()</option>
                                }
                            </datalist>

                            <input id="supplierID-hidden" hidden />


                            <div class="row mt-lg-1 p-3 mt-2" id="contactsection">                              
                                <div class="col-md-12 text-left" style="font-size:13px;">
                                    <label>PAN No:</label> <lable id="buyervatinbill"></lable>
                                </div>
                                <div class=" col-md-12 text-left" style="font-size:13px;">
                                    <label>Contact:</label> <label id="buyerphoneinbill"></label>
                                </div>
                                <div class="col-md-12 text-left" style="font-size:13px;">
                                    <label>Address:</label> <label id="buyeraddressinbill"></label>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-md-5 mt-4 ms-4">

                            <div class="row">
                                <div class="col-md-4">
                                    <label class="form-label">Voucher Date</label>
                                </div>
                                <div class="col-md-8">
                                    <input id="VoucherDate" name="VoucherDate" class="form-control" />
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-md-4">
                                    <label class="form-label">Buy Date</label>
                                </div>
                                <div class="col-md-8">
                                    <input id="PurchaseDate" name="PurchaseDate" class="form-control" />
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-md-4">
                                    <label class="form-label">Bill Number</label>
                                </div>
                                <div class="col-md-8">
                                    <input id="BillNumber" name="BillNumber" class="form-control" />
                                </div>
                            </div>
                            
                            <div class="row mt-2">
                                <div class="col-md-4">
                                    <input id="issubillcheckbox" type="checkbox" style="width:17px; height:17px;" class="col-md-1" />
                                    <label class="form-label">Bill Issue Date</label>
                                </div>
                                <div class="col-md-8">
                                    <input id="BillIssueDate" name="BillIssueDate" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label class="form-label">Product Name</label>
                            <input id="ProductName" name="ProductName" class="form-control" />
                            <span id="productNameErrorMessage" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label">Rate</label>
                            <input id="Rate" name="Rate" class="form-control" />
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label">Quantity</label>
                            <input id="Quantity" name="Quantity" class="form-control" />
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label">Unit</label>
                            @Html.DropDownList("UnitList",null, new { @class = "form-control" })
                            @*  <select id="UnitId" name="UnitId" class="form-control" asp-items="ViewBag.UnitId"></select>*@
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label">Category</label>
                            @Html.DropDownList("CategoryList",null, new { @class = "form-control" })
                           @* <select id="CategoryId" name="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>*@
                        </div>
                      @*  <div class="form-group col-md-6">
                            <label  class="form-label">Short Description</label>
                            <input id="ProductDescription" name="ProductDescription" class="form-control" />
                            <span  class="text-danger"></span>
                        </div>*@
                       
                        <div class="form-group mt-3">
                            <button class="btn btn-info" id="addProductToTable">Add Product</button>
                        </div>
                    </div>

                    <!-- Product Bill Table-->
                    <div class="row  mt-3">
                        <div class="table-responsive">
                            <table class="table table-sm table-striped" id="buyBillItemsTable">
                                <thead>
                                    <tr>
                                        <th>S.N</th>
                                        <th>Product Name</th>
                                        <th>Category</th>
                                        <th>Unit</th>
                                        <th>Rate</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="6"></td>
                                        <td>
                                            <label class="fw-bold">Total Amount</label>
                                        </td>
                                        <td>
                                            <label class="fw-bold">100.00</label>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                  
                    <div class="row">
                        <div class="col-md-8">
                            <label class="form-label">Comment</label>
                            <input class="form-control" name="Comment" id="Comment" /> 
                        </div>
                        
                    </div>
                    <hr />

                    <div class="row">
                        <div class="form-group d-flex justify-content-end me-md-5 mt-4">
                            <input id="addProducts" type="submit" value="Create" class="btn btn-success" />
                            <input id="clearAddProductForm" type="reset" value="Clear" class="btn btn-secondary ms-1" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


@section Scripts{

    <script>

        $(document).ready(function(){
            
            $("#addProductToTable").click(function(){
                var productName = $("#ProductName").val();
                var shortDescription = $("#ProductDescription").val();
                var unitId = $("#UnitList").val();
                var category = $("#CategoryList").val();
                var rate = $("#Rate").val();
                var quantity = $("#Quantity").val();

                if (productName == "" || shortDescription == "" || unitId == "" || category == "" || rate == "" || quantity == "")
                {
                    productDetailsValidator(productName, shortDescription, unitId, category, rate, quantity);

                }
                else
                {
                    var buyBillTableDate = "<tr>";
                        buyBillTableDate += "<td>" + 1. +"</td>";
                        buyBillTableDate += "<td>" + productName + "</td>";
                        buyBillTableDate += "<td>" + $("#CategoryList").find(":selected").text() + "</td>";
                        buyBillTableDate += "<td>" + $("#UnitList").find(":selected").text() + "</td>"
                        buyBillTableDate += "<td>" + rate +"</td>";
                        buyBillTableDate += "<td>" + quantity + "</td>";
                        buyBillTableDate += "<td>" + parseFloat(rate) * parseFloat(quantity) + "</td>";
                    buyBillTableDate += '<td><a data-rowitemId="0" href="#" class="editTableItem"><i class="fa-solid fa-pencil"></i></a>&nbsp;&nbsp;&nbsp;<a data-rowitemId="0" href = "#" class="deleteTableItem text-danger" ><i class="fa-solid fa-xmark"></i></a ></td>';
                        buyBillTableDate += "</tr>";

                    $("#buyBillItemsTable tbody").append(buyBillTableDate);
                }
            });

        });


        // function to validate the produtais before adding to the bill.
        function productDetailsValidator(productName, shortDescription, unitId, category, rate, quantity) {
            if (productName == "") {
                $("#ProductName").css({ "border": "1px solid red" });
            }
            if (shortDescription == "") {
                $("#ProductDescription").css({ "border-color": "red" });
            }
            if (unitId == "") {
                $("#UnitList").css({ "border-color": "red" });
            }
            if (category == "") {
                $("#CategoryList").css({ "border-color": "red" });
            }
            if (rate == "") {
                $("#Rate").css({ "border-color": "red" });
            }
            if (quantity == "") {
                $("#Quantity").css({ "border-color": "red" });
            }

        }

        // functions to check if items are null or not and remove read borders if they are not null.
        $("#ProductName").keyup(function () {
            if ($("#ProductName").val() != "") {
                $("#ProductName").css({ "border": "1px solid #e9ecef" });;
            }

        });
        $("#ProductDescription").keyup(function () {
            if ($("#ProductDescription").val() != "") {
                $("#ProductDescription").css({ "border": "1px solid #e9ecef" });;
            }

        });
        $("#UnitList").change(function () {
            if ($("#UnitList").val() != "") {
                $("#UnitList").css({ "border": "1px solid #e9ecef" });;
            }

        });
        $("#Rate").keyup(function () {
            if ($("#Rate").val() != "") {
                $("#Rate").css({ "border": "1px solid #e9ecef" });;
            }

        });
        $("#CategoryList").change(function () {
            if ($("#CategoryList").val() != "") {
                $("#CategoryList").css({ "border": "1px solid #e9ecef" });;
            }

        });
        $("#Quantity").keyup(function () {
            if ($("#Quantity").val() != "") {
                $("#Quantity").css({ "border": "1px solid #e9ecef" });;
            }

        });
        $("#VoucherDate").keyup(function () {
            if ($("#VoucherDate").val() != "") {
                $("#VoucherDate").css({ "border": "1px solid #e9ecef" });;
            }

        });
        $("#PurchaseDate").keyup(function () {
            if ($("#PurchaseDate").val() != "") {
                $("#PurchaseDate").css({ "border": "1px solid #e9ecef" });;
            }

        });
        $("#BillNumber").keyup(function () {
            if ($("#BillNumber").val() != "") {
                $("#BillNumber").css({ "border": "1px solid #e9ecef" });;
            }

        });
        $("#BillIssueDate").keyup(function () {
            if ($("#BillIssueDate").val() != "") {
                $("#BillIssueDate").css({ "border": "1px solid #e9ecef" });;
            }

        });
        $("#buyernameinbill").keyup(function () {
            if ($("#buyernameinbill").val() != "") {
                $("#buyernameinbill").css({ "border": "1px solid #deepskyblue" });;
            }

        });
        $("#Comment").keyup(function () {
            if ($("#Comment").val() != "") {
                $("#Comment").css({ "border": "1px solid #deepskyblue" });;
            }

        });

    </script>

}


