@model IEnumerable<Inventory.Web.ViewModels.SupplierCustomerEmployeeViewModel>

<div class="row mt-4">
    <div class="table-responsive">
        <table class="table table-sm table-striped table-bordered" id="customerDetailsIndexTable">
            <thead>
                <tr>
                    <th>S.N</th>
                    <th>
                        Customer Name
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Phone
                    </th>
                    <th>
                        PAN
                    </th>
                    <th>Address</th>
                    <th>Total</th>
                    <th>Paid</th>
                    <th>Remaining</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int sn = 1;
                }
                @foreach (var supplier in Model)
                {

                    <tr>
                        <td>@(sn++)</td>
                        <td>@supplier.CustomerName</td>
                        <td>@supplier.Email</td>
                        <td>@supplier.PhoneNumber</td>
                        <td>@supplier.PanNumber</td>
                        <td>@supplier.Country, @supplier.City, @supplier.LocalAddress</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>

                        <td>
                            <a asp-action="Details" asp-route-id="@supplier.CustomerID" class="btn btn-sm btn-secondary">View Details</a>
                            <a asp-action="Edit" asp-route-id="@supplier.CustomerID" class="btn btn-sm btn-info">Edit</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>


</div>

@section Scripts{


    <script>

        $(document).ready(function () {

            //creating a data table for supplier detais table
            $("#customerDetailsIndexTable").DataTable();

        });

    </script>


}